* {
  margin: 0;
  padding: 0;
}

/* ----------------------------------------- Content ----------------------------------------- */

.content {
  position: relative;
  background-color: #d9d9d9;
}

.banner {
  margin: 0 60px;
  height: fit-content;
  height: 700px;
  position: relative;
}

.img-wrapper {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  height: 700px;
  display: block;
  z-index: 10;
}

#carouselImg {
  width: 100%;
  height: 100%;
}

.title-container {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 0;
  z-index: 20;
  width: 100%;
  display: flex;
  justify-content: center;
}

.title {
  background-color: #d9d9d9;
  width: fit-content;
  padding: 40px;
  border-radius: 20px;
  font-size: 30px;
  box-shadow: rgba(93, 50, 50, 0.8) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  transition: all 0.3s;
  cursor: pointer;
}

.title:hover {
  transform: translateY(-5%);
}

/* ------------------------------------ Categorias ------------------------------------ */

.titulo {
  margin-top: 70px;
  font-size: 50px;
  text-align: center;
  padding-bottom: 50px;
}

.categorias {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.categoria-container {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin: 20px 50px;
  border: 2px solid rgba(165, 42, 42, 0.5);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.categoria-container:hover .img-categoria {
  transform: scale(1.1);
}

.img-categoria {
  width: 100%;
  height: 100%;
  transition: all 0.4s;
}

.texto {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  z-index: 10;
  color: #ffffff;
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 100%;
  text-align: center;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #00000040;
  z-index: 5;
}

/* ------------------------------------ Imagenes ------------------------------------ */

#container-images {
  margin-top: 80px;
  background-color: #ffffff;
}

.img-container {
  width: 100%;
  display: flex;
  align-items: center;
}

.img-grande {
  width: 829px;
  height: 500px;
}

.text-img {
  width: 50vw;
  text-align: center;
  font-size: 30px;
  padding: 0 50px;
}

.impar {
  flex-direction: row-reverse;
}

/* --------------------------------------- Video --------------------------------------- */

.video-wrapper {
  padding-top: 80px;
}

.video-titulo {
  font-weight: 700;
  color: transparent;
  background-image: linear-gradient(
    to left,
    #ffd700,
    #ed4c57,
    #3498db,
    #2ecc71,
    #ffd700
  );
  -webkit-background-clip: text;
  animation: color 3s linear infinite;
  background-size: 600%;
  font-size: 45px;
  margin-bottom: 40px;
  text-align: center;
}

@keyframes color {
  from {
    background-position: 0% 50%;
  }

  to {
    background-position: 100% 50%;
  }
}

.video-container {
  display: flex;
  justify-content: center;
  padding-bottom: 56px;
}

.video {
  width: 1000px;
  border-radius: 20px;
}
