/* -------------------------------------------- Footer -------------------------------------------- */
.footer-content {
  background-color: #ed4c57;
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.lista {
  padding: 0 40px;
}

.lista li {
  list-style: none;
  font-size: 18px;
  color: #ffffff;
  padding-bottom: 6px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
  font-weight: 300;
}

.lista li:first-child {
  border-bottom: 1px solid #ffffff;
  font-weight: 600;
  font-size: 19px;
  margin-bottom: 10px;
  padding: 0;
}

.footer-item {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ed9399;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

.footer-item p {
  color: #ffffff;
  font-weight: 600;
  font-size: 20;
}
