* {
  padding: 0;
  margin: 0;
}

#Login {
  background-color: #ed4c57;
  width: 100%;
  height: 100vh;
  position: relative;
}

.card {
  width: 250px;
  height: 350px;
  border-radius: 5px;
  background-color: #ffffff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.card-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.titulo-container {
  width: 100%;
  height: 70px;
  background-color: #f6aa3d;
  margin-bottom: 50px;
  padding-left: 20px;
  display: flex;
  align-items: center;
}
