/* ----------------------------------------- Header ----------------------------------------- */
.bar {
  cursor: pointer;
}

.header {
  background-color: #ed4c57;
  height: 50px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

.search-container {
  width: 600px;
}

.search {
  border-radius: 5px;
  border: none;
  height: 25px;
  background-color: #d9d9d9;
  width: 100%;
  padding: 5px;
  cursor: pointer;
}

.links-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
  color: #ffffff;
}

.carrito-container {
  width: fit-content;
  height: fit-content;
  padding-left: 5px;
  cursor: pointer;
}

.carrito {
  width: 35px;
  height: 35px;
}
